awscli
pyhdf==0.10.3
numpy==1.21.5
pyproj==3.2.1
geopandas==0.10.2
netCDF4==1.5.8
pqdm
pandas==1.3.5
tables==3.6.1
lightgbm==3.3.2
xarray==0.20.2
xarray-spatial==0.3.3
pydap==3.2.2
ecmwflibs
cfgrib
planetary-computer==0.4.5
rasterio
scikit-learn==1.0.1
jupyter
gdown==4.4.0
